.date-countdown {
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
}

.random-date-countdown {
  margin-left: 40px;
}

.reset-button {
  margin-left: 40px;
}

.grid-container {
    margin: 20px;
}
  
.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
  
.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}
  
.dashboard-card-content {
    text-align: center;
    margin-top: 50px;
}

.card-no-events {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  height: 200px;
}

.card-no-events-title {
  padding-top: 17px;
}