<mat-card class="content-margin">
    <h1>Sign Up</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form" novalidate>

        <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="John" formControlName="firstname" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Doe" formControlName="lastname" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="example@xyz.com" formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Birthday</mat-label>
            <input type="date" matInput placeholder="01/01/1970" formControlName="birthday" required>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
    </form>

</mat-card>